In [20]:
# Import libraries
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [21]:
# Load in data
df=pd.read_csv('Data/AviationData.csv', encoding='latin-1', low_memory=False)
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [22]:
#Dropping rows if the make or model is missing.
#We want to identify which plane is the best investment and cant do so if this info is missing.
df.dropna(subset=['Make', 'Model'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88777 non-null  object
 1   Investigation.Type      88777 non-null  object
 2   Accident.Number         88777 non-null  object
 3   Event.Date              88777 non-null  object
 4   Location                88725 non-null  object
 5   Country                 88552 non-null  object
 6   Latitude                34347 non-null  object
 7   Longitude               34338 non-null  object
 8   Airport.Code            50213 non-null  object
 9   Airport.Name            52746 non-null  object
 10  Injury.Severity         87798 non-null  object
 11  Aircraft.damage         85605 non-null  object
 12  Aircraft.Category       32245 non-null  object
 13  Registration.Number     87502 non-null  object
 14  Make                    88777 non-null  object
 15  Model                   88777 non-null  object
 16  Amateur.Built           88678 non-null  object
 17  Number.of.Engines       82754 non-null  float64
 18  Engine.Type             81771 non-null  object
 19  FAR.Description         31936 non-null  object
 20  Schedule                12532 non-null  object
 21  Purpose.of.flight       82639 non-null  object
 22  Air.carrier             16609 non-null  object
 23  Total.Fatal.Injuries    77391 non-null  float64
 24  Total.Serious.Injuries  76287 non-null  float64
 25  Total.Minor.Injuries    76863 non-null  float64
 26  Total.Uninjured         82880 non-null  float64
 27  Weather.Condition       84338 non-null  object
 28  Broad.phase.of.flight   61683 non-null  object
 29  Report.Status           82442 non-null  object
 30  Publication.Date        75012 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

In [23]:
df['Make']=df['Make'].str.lower()
df['Make'].value_counts()

cessna            27145
piper             14869
beech              5371
boeing             2738
bell               2722
                  ...
boyd bruce            1
james e causey        1
toerner bob           1
boucher               1
trickle               1
Name: Make, Length: 7575, dtype: int64

In [24]:
# Function to process a single value
def process_category(value):
    # Convert to lowercase, remove spaces, dashes, and underscores, and combine all words
    return ''.join(value.lower().replace(' ', '').replace('-', '').replace('_', ''))

df['Model'] = df['Model'].apply(process_category)
df['Model'].value_counts()

152               2367
172               1756
172n              1172
pa28140           1002
150                829
                  ...
bldw1                1
t41b                 1
dq2                  1
414rileysuper8       1
skygear              1
Name: Model, Length: 8843, dtype: int64

In [25]:
df['Make/Model'] = df['Make']+" "+df['Model']
df['Make/Model'].value_counts()

cessna 152                  2366
cessna 172                  1753
cessna 172n                 1171
piper pa28140               1001
cessna 172m                  829
                            ...
watson slipstream              1
rotorway db1                   1
brown mitch challengerii       1
rietman widget                 1
lockheed l382e                 1
Name: Make/Model, Length: 15844, dtype: int64

In [26]:
df['Aircraft.Category'].value_counts()

Airplane             27580
Helicopter            3435
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [29]:
Airplane_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Airplane']['Make/Model'])
Helicopter_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Helicopter']['Make/Model'])
Glider_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Glider']['Make/Model'])
Balloon_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Balloon']['Make/Model'])
Gyrocraft_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Gyrocraft']['Make/Model'])
WeightShift_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Weight-Shift']['Make/Model'])
PoweredParachute_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Powered Parachute']['Make/Model'])
Ultralight_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Ultralight']['Make/Model'])
Unknown_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Unknown']['Make/Model'])
WSFT_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'WSFT']['Make/Model'])
PoweredLift_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Powered-Lift']['Make/Model'])
Blimp_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Blimp']['Make/Model'])
UNK_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'UNK']['Make/Model'])
ULTR_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'ULTR']['Make/Model'])
Rocket_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Rocket']['Make/Model'])

In [30]:
df.loc[Airplane_mask, 'Aircraft.Category'] = 'Airplane'
df.loc[Helicopter_mask, 'Aircraft.Category'] = 'Helicopter'
df.loc[Glider_mask, 'Aircraft.Category'] = 'Glider'
df.loc[Balloon_mask, 'Aircraft.Category'] = 'Balloon'
df.loc[Gyrocraft_mask, 'Aircraft.Category'] = 'Gyrocraft'
df.loc[WeightShift_mask, 'Aircraft.Category'] = 'Weight-Shift'
df.loc[PoweredParachute_mask, 'Aircraft.Category'] = 'Powered Parachute'
df.loc[Ultralight_mask, 'Aircraft.Category'] = 'Ultralight'
df.loc[Unknown_mask, 'Aircraft.Category'] = 'Unknown'
df.loc[WSFT_mask, 'Aircraft.Category'] = 'WSFT'
df.loc[PoweredLift_mask, 'Aircraft.Category'] = 'Powered-Lift'
df.loc[Blimp_mask, 'Aircraft.Category'] = 'Blimp'
df.loc[UNK_mask, 'Aircraft.Category'] = 'UNK'
df.loc[ULTR_mask, 'Aircraft.Category'] = 'ULTR'
df.loc[Rocket_mask, 'Aircraft.Category'] = 'Rocket'




df['Aircraft.Category'].value_counts()

Airplane             69263
Helicopter            7420
Glider                1030
Balloon                435
Unknown                235
Gyrocraft              219
Weight-Shift           162
Powered Parachute       92
Ultralight              38
Powered-Lift            30
WSFT                    11
Blimp                    5
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [31]:
#Investigating the unknown aircraft category by make and model, to find any aircrafts.
unknown_aircraft_df = df[df['Aircraft.Category']=='Unknown']
unknown_aircraft_df['Make/Model'].value_counts()

bell 206l3                                 97
schweizer 269c                             89
bell 412                                   23
mitsubishi mu300                            8
agusta a119                                 5
quad city challenger                        3
rans s7                                     3
varieze ruatan                              1
quicksilver mxlsportii                      1
cessna aircraft company 560xl               1
robinson helicopter company r44ii           1
sui ry, laurinen janne, kääriä compair8     1
amateur construction denneykitfoxmk2        1
parachute icarus crossfire2                 1
Name: Make/Model, dtype: int64

In [32]:
# Identifying airplanes in the unknown aircraft category and classifying them as airplanes.
# Will need to change the "Make" name for cessna aircraft company to cessna

unknown_condition_airplane=((df['Aircraft.Category'] == 'Unknown') & 
                   ((df['Make/Model'] == 'rans s7') | (df['Make/Model'] == 'cessna aircraft company 560xl') | 
                    (df['Make/Model'] == 'mitsubishi mu300')))
df.loc[unknown_condition_airplane, 'Aircraft.Category'] = 'Airplane'

df['Aircraft.Category'].value_counts()

#Now we can just drop all rows where the aircraft category is unknown since there are no more airplanes in the cate

Airplane             69275
Helicopter            7420
Glider                1030
Balloon                435
Unknown                223
Gyrocraft              219
Weight-Shift           162
Powered Parachute       92
Ultralight              38
Powered-Lift            30
WSFT                    11
Blimp                    5
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [33]:
# Now lets investigate the NaN values in aircraft categorgy.

None_aircraft_df = df[df['Aircraft.Category'].isna()]
None_aircraft_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982,north american navionl17b
344,20020917X02404,Accident,MIA82FA051,1982-02-17,"MIAMI, FL",United States,NaN,NaN,MIA,MIAMI INTERNATIONAL,...,"Pan American World Airways, In",0.0,1.0,1.0,51.0,VMC,Takeoff,Probable Cause,17-02-1983,boeing 727235
1382,20020917X02937,Accident,CHI82DA191,1982-05-29,"DETROIT, MI",United States,NaN,NaN,DTW,DETROIT METROPOLITAN,...,NaN,0.0,0.0,0.0,3.0,IMC,Approach,Probable Cause,29-05-1983,convair 240
1505,20020917X03932,Accident,NYC82DA121,1982-06-09,"SHREWSBURY, PA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,Maneuvering,Probable Cause,09-06-1983,scheicher k8b
1871,20020917X03104,Accident,DCA82AA028,1982-07-09,"NEW ORLEANS, LA",United States,NaN,NaN,NaN,NaN,...,Pan American World A/w,153.0,9.0,0.0,7.0,VMC,Takeoff,Probable Cause,09-07-1983,boeing 727235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88484,20220915105948,Accident,ERA22LA421,2022-09-06,"Millersburg, OH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,NaN,NaN,NaN,16-09-2022,owen kingsley b vansrv8
88555,20220926105996,Accident,DCA22WA208,2022-09-20,"San Antonio del Estrecho,",Peru,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,26-09-2022,bae 3201ep
88598,20221006106083,Accident,DCA23LA008,2022-09-29,"Denver, CO",United States,NaN,NaN,NaN,NaN,...,Southwest Airlines,0.0,0.0,1.0,140.0,NaN,NaN,NaN,11-10-2022,boeing 7377ct
88750,20221104106250,Accident,GAA23WA025,2022-11-03,"San Clemente,",Côte d'Ivoire,NaN,NaN,NaN,NaN,...,Servicios Aéreos Kipreos Ltda,1.0,0.0,1.0,0.0,NaN,NaN,NaN,01-12-2022,bell uh1d
88878,20221227106496,Accident,WPR23LA074,2022-12-17,"Cottonwood, CA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,27-12-2022,royse ralph l glasair

In [34]:
None_aircraft_df['Make'].value_counts()

boeing               443
cessna               340
beech                314
piper                265
mcdonnell douglas    132
                    ...
stirling               1
pravecek lawrence      1
argo                   1
inav                   1
hickham                1
Name: Make, Length: 3982, dtype: int64

In [35]:
#Here we are assigning the variable 'airplane' to well known airplane manufactures that dont have a aircraft classification.

df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'boeing'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'cessna'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'beech'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'beechcraft'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'piper'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'mcdonnell douglas'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'douglas'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'de havilland'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'rockwell'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'british aerospace'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'airbus industrie'), 'Aircraft.Category'] = 'Airplane'

In [36]:
#Now lets drop all rows in the aircraft category column that don't equal airplane
airplane_df = df[df['Aircraft.Category'] == 'Airplane']
airplane_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,stinson 1083
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,piper pa24180
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,cessna 172m
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,rockwell 112
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,cessna 501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,piper pa28151
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,bellanca 7eca
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,american champion aircraft 8gcbc
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,cessna 210n
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,piper pa24260

In [39]:
filtered_df = airplane_df[airplane_df['Injury.Severity'].isnull()]
filtered_df.loc[:, ['Event.Date','Injury.Severity','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured','Broad.phase.of.flight','Make/Model']]

,Event.Date,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.phase.of.flight,Make/Model
63918,2008-01-03,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737400
63987,2008-01-24,NaN,0.0,0.0,0.0,0.0,NaN,cessna c208bcaravan
64026,2008-02-03,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737
64128,2008-02-28,NaN,0.0,0.0,0.0,0.0,NaN,piper pa34200
64178,2008-03-10,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737400
...,...,...,...,...,...,...,...,...
88832,2022-11-27,NaN,0.0,0.0,0.0,0.0,NaN,cessna 177
88849,2022-12-05,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737
88879,2022-12-18,NaN,0.0,0.0,0.0,0.0,NaN,airbus a330243
88885,2022-12-26,NaN,0.0,0.0,0.0,0.0,NaN,bellanca 7eca
88887,2022-12-26,NaN,0.0,0.0,0.0,0.0,NaN,cessna 210n

In [40]:
# Here I am checking to make sure there are no injuries recorded in these rows.
#We are good to remove rows where the Injury Severity is null.
filtered_df['Total.Fatal.Injuries'].sum()
filtered_df['Total.Serious.Injuries'].sum()
filtered_df['Total.Minor.Injuries'].sum()
filtered_df['Total.Uninjured'].sum()

0.0

In [41]:
#Drop rows where the Injury Severity is NA
airplane_df =airplane_df.dropna(subset=['Injury.Severity'])
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69989 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                69989 non-null  object
 1   Investigation.Type      69989 non-null  object
 2   Accident.Number         69989 non-null  object
 3   Event.Date              69989 non-null  object
 4   Location                69948 non-null  object
 5   Country                 69888 non-null  object
 6   Latitude                27816 non-null  object
 7   Longitude               27807 non-null  object
 8   Airport.Code            42454 non-null  object
 9   Airport.Name            44526 non-null  object
 10  Injury.Severity         69989 non-null  object
 11  Aircraft.damage         67982 non-null  object
 12  Aircraft.Category       69989 non-null  object
 13  Registration.Number     69093 non-null  object
 14  Make                    69989 non-null  object
 15  Model                   69989 non-null  object
 16  Amateur.Built           69911 non-null  object
 17  Number.of.Engines       66566 non-null  float64
 18  Engine.Type             65555 non-null  object
 19  FAR.Description         26589 non-null  object
 20  Schedule                9209 non-null   object
 21  Purpose.of.flight       65863 non-null  object
 22  Air.carrier             13118 non-null  object
 23  Total.Fatal.Injuries    61290 non-null  float64
 24  Total.Serious.Injuries  60435 non-null  float64
 25  Total.Minor.Injuries    60982 non-null  float64
 26  Total.Uninjured         65908 non-null  float64
 27  Weather.Condition       67165 non-null  object
 28  Broad.phase.of.flight   48112 non-null  object
 29  Report.Status           65543 non-null  object
 30  Publication.Date        59248 non-null  object
 31  Make/Model              69989 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.6+ MB

In [42]:
# Looking at rows where the fata injury category is na or zero
airplane_df[airplane_df['Total.Fatal.Injuries'].isnull()]
# airplane_df[airplane_df['Total.Fatal.Injuries'] == 0]
# airplane_df[(airplane_df['Total.Fatal.Injuries'] == 0) | (airplane_df['Total.Fatal.Injuries'].isnull())]

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,mcdonnell douglas dc9
89,20020917X02486,Accident,NYC82DA022,1982-01-15,"BUTLER, PA",United States,NaN,NaN,3G9,BUTLER ROE,...,NaN,NaN,NaN,NaN,2.0,VMC,Approach,Probable Cause,15-01-1983,cessna 310
260,20020917X02495,Accident,NYC82DA033,1982-02-07,"MARTHAS VINEYARD, MA",United States,NaN,NaN,NaN,MARTHAS VINEYARD,...,NaN,NaN,NaN,NaN,2.0,VMC,Landing,Probable Cause,05-05-2011,bellanca 7kcab
351,20020917X02151,Incident,FTW82IA062,1982-02-19,"HARLINGEN, TX",United States,NaN,NaN,HRL,HARLINGEN IND.AIR PARK,...,Mexicana Airlines,NaN,NaN,NaN,83.0,IMC,Landing,Probable Cause,04-12-2014,boeing b727200
728,20020917X02383,Accident,MIA82DA098,1982-04-01,"ORMOND BEACH, FL",United States,NaN,NaN,OMN,ORMOND BEACH,...,NaN,NaN,NaN,NaN,1.0,VMC,Taxi,Probable Cause,01-04-1983,cessna 172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63904,20080215X00200,Accident,CHI08CA058,2007-12-29,"CRYSTAL FALLS, MI",United States,46.8,-88.36,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,VMC,Landing,Probable Cause,28-02-2008,cessna 172f
63905,20080214X00193,Accident,CHI08CA056,2007-12-29,"ABINGDON, IL",United States,40.799722,-90.438611,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,VMC,Maneuvering,Probable Cause,28-02-2008,ercoupe (eng & research corp.) 415d
63910,20080129X00122,Accident,CHI08CA057,2007-12-30,"ALEXANDRIA, MN",United States,45.866111,-95.394444,AXN,Chandler Field Airport,...,NaN,NaN,NaN,NaN,1.0,VMC,Takeoff,Probable Cause,28-02-2008,lerohl rv8
63911,20080125X00106,Accident,SEA08CA056,2007-12-31,"SANTA ANA, CA",United States,33.675556,-117.868056,SNA,John Wayne - Orange County,...,NaN,NaN,NaN,NaN,2.0,VMC,Landing,Probable Cause,28-02-2008,piper pa12
63912,20080206X00141,Accident,CHI08WA075,2007-12-31,"Guernsey, United Kingdom",United Kingdom,49.435,-2.600278,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Foreign,06-02-2008,cessna t303

In [43]:
#Here I am looking at rows where all injury categories are NaN

filtered_df = airplane_df[airplane_df['Total.Fatal.Injuries'].isnull() & airplane_df['Total.Serious.Injuries'].isnull() & airplane_df['Total.Minor.Injuries'].isnull() & airplane_df['Total.Uninjured'].isnull()]
filtered_df.loc[:, ['Event.Date','Injury.Severity','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured','Broad.phase.of.flight','Make/Model']]
#Might be best just to drop all of these rows, since we don't know how many people were on the plane.
#For the standing phases of the flight, we can replace total uninjured with average total people for that make/model

,Event.Date,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.phase.of.flight,Make/Model
15579,1986-08-10,Incident,NaN,NaN,NaN,NaN,Standing,mcdonnell douglas dc1040
18430,1987-08-16,Incident,NaN,NaN,NaN,NaN,NaN,boeing b767200er
19110,1987-11-07,Incident,NaN,NaN,NaN,NaN,NaN,mcdonnell douglas dc1015
19342,1987-12-16,Unavailable,NaN,NaN,NaN,NaN,NaN,boeing 747124f
20067,1988-04-14,Incident,NaN,NaN,NaN,NaN,NaN,boeing 747
...,...,...,...,...,...,...,...,...
62585,2007-05-25,Unavailable,NaN,NaN,NaN,NaN,NaN,douglas dc3
63009,2007-07-23,Incident,NaN,NaN,NaN,NaN,NaN,airbus a330
63398,2007-09-16,Unavailable,NaN,NaN,NaN,NaN,NaN,piper pa32301
63646,2007-10-28,Incident,NaN,NaN,NaN,NaN,Standing,boeing 757225
63761,2007-11-22,Incident,NaN,NaN,NaN,NaN,NaN,boeing 767300

In [44]:
# step 1
#I'm dropping rows, where there is no information to how many passangers were on board.  
columns_to_check = ['Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']
airplane_df.dropna(subset=columns_to_check, how='all', inplace=True)
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69809 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                69809 non-null  object
 1   Investigation.Type      69809 non-null  object
 2   Accident.Number         69809 non-null  object
 3   Event.Date              69809 non-null  object
 4   Location                69772 non-null  object
 5   Country                 69711 non-null  object
 6   Latitude                27810 non-null  object
 7   Longitude               27801 non-null  object
 8   Airport.Code            42436 non-null  object
 9   Airport.Name            44507 non-null  object
 10  Injury.Severity         69809 non-null  object
 11  Aircraft.damage         67863 non-null  object
 12  Aircraft.Category       69809 non-null  object
 13  Registration.Number     69053 non-null  object
 14  Make                    69809 non-null  object
 15  Model                   69809 non-null  object
 16  Amateur.Built           69760 non-null  object
 17  Number.of.Engines       66529 non-null  float64
 18  Engine.Type             65478 non-null  object
 19  FAR.Description         26528 non-null  object
 20  Schedule                9044 non-null   object
 21  Purpose.of.flight       65791 non-null  object
 22  Air.carrier             13115 non-null  object
 23  Total.Fatal.Injuries    61290 non-null  float64
 24  Total.Serious.Injuries  60435 non-null  float64
 25  Total.Minor.Injuries    60982 non-null  float64
 26  Total.Uninjured         65908 non-null  float64
 27  Weather.Condition       67095 non-null  object
 28  Broad.phase.of.flight   48105 non-null  object
 29  Report.Status           65363 non-null  object
 30  Publication.Date        59114 non-null  object
 31  Make/Model              69809 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.6+ MB

In [45]:
airplane_df[columns_to_check] = airplane_df[columns_to_check].fillna(0)
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69809 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                69809 non-null  object
 1   Investigation.Type      69809 non-null  object
 2   Accident.Number         69809 non-null  object
 3   Event.Date              69809 non-null  object
 4   Location                69772 non-null  object
 5   Country                 69711 non-null  object
 6   Latitude                27810 non-null  object
 7   Longitude               27801 non-null  object
 8   Airport.Code            42436 non-null  object
 9   Airport.Name            44507 non-null  object
 10  Injury.Severity         69809 non-null  object
 11  Aircraft.damage         67863 non-null  object
 12  Aircraft.Category       69809 non-null  object
 13  Registration.Number     69053 non-null  object
 14  Make                    69809 non-null  object
 15  Model                   69809 non-null  object
 16  Amateur.Built           69760 non-null  object
 17  Number.of.Engines       66529 non-null  float64
 18  Engine.Type             65478 non-null  object
 19  FAR.Description         26528 non-null  object
 20  Schedule                9044 non-null   object
 21  Purpose.of.flight       65791 non-null  object
 22  Air.carrier             13115 non-null  object
 23  Total.Fatal.Injuries    69809 non-null  float64
 24  Total.Serious.Injuries  69809 non-null  float64
 25  Total.Minor.Injuries    69809 non-null  float64
 26  Total.Uninjured         69809 non-null  float64
 27  Weather.Condition       67095 non-null  object
 28  Broad.phase.of.flight   48105 non-null  object
 29  Report.Status           65363 non-null  object
 30  Publication.Date        59114 non-null  object
 31  Make/Model              69809 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.6+ MB